<!-- /templates/input-code.html-->
<!-- modified from scoutapm Python Flask Tutorial-->
<html>
    <body>
        <form action="/output" method="POST">
            <div>
                Enter Command: <input type="text" name="command"><br>
            </div>
            <input type="submit" value="Submit">
          </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>